@import "variables";
#footer {
  z-index: 8;
  height: auto;
  position: relative;
/*  background: $rosa;*/
  background: url("/files/assets/layout/footer_bg.svg") center top 0/cover no-repeat;
  .inside {
    /*background: url("/files/assets/layout/footer_bg.svg") center top 0/cover no-repeat;
    transform: translateY(-135px);*/
    background: url("/files/assets/layout/Gruppe 215.svg") right 0/800px no-repeat;
  }
}

.footer {
  padding: 200px 0 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font: normal normal 500 26px/36px Raleway;
}

.footer-left {
  .logo-footer {
    background: black;
    padding: 30px 45px;
    display: inline-block;
    img {
      width: 350px;
    }
  }
  .ce_text {
    color: $blue;
    padding-left: 33px;
    .location, .phone, .mail, .person {
      position: relative;
      padding-left: 33px;
      &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 2px;
        width: 33px;
        height: 33px;
      }
    }
    .location:before {
      background: url("/files/assets/layout/location.svg") no-repeat;
    }
    .phone:before {
      background: url("/files/assets/layout/telephone.svg") no-repeat;
    }
    .mail:before {
      background: url("/files/assets/layout/at.svg") no-repeat;
    }
    .person:before {
      background: url("/files/assets/layout/person.svg") no-repeat;
    }
    .mail, .phone {
      margin-left: -33px;
    }
  }
}

.footer-left {
  width: 50%;
  .footer-middle {
    width: 67%;
    .image {
      display: none;
    }
    p {
      a {
        color: $blue;
        padding-left: 33px;
        transition: color250ms;
        &:hover {
          color: $gelb;
        }
      }
    }
    .footer-social-icons {
      display: flex;
      justify-content: space-evenly;
      border-top: 3px solid white;
      width: 100%;
      padding-top: 20px;
      .icon {
        width: 80px;

        a {
          transition: filter 250ms;
         &:hover {
           filter: saturate(0) brightness(10);
         }
        }
      }
    }
  }
}

.footer-right {
  width: 50%;
  margin-top: 35%;
  color: white;
  .ce_text {
    text-align: right;
  }
  .text-right {
    p {
      display: inline-block;
      background-color: black;
      &:after {
        background-color: $blue;
      }
      a {
        color: white;
        transition: color 250ms;
        &:hover {
          color: $gelb;
        }
      }
    }
  }
}

.footer-middle .adress {
  margin-top: -25px;
}

@media screen and (max-width: 1150px) {
  #footer .inside {
    background: url("/files/assets/layout/Gruppe 215.svg") right 0/350px no-repeat;
  }
  .footer {
    font: normal normal 500 20px/36px Raleway;
  }
  .footer-left .footer-middle {
    width: 100%;
  }
}


@media screen and (max-width: 640px) {
  #footer .inside {
    background-size: 275px;
  }
  .footer {
    font: normal normal 500 18px/24px Raleway;
    padding-top: 230px;
    padding-bottom: 50px;
    text-align: center;
    .footer-left {
      .logo-footer {
        display: block;
        background: none;
        padding: 0;
        margin-bottom: 20px;
        img {
          width: 265px;
          filter: invert(1);
        }
      }
      .footer-middle {
        width: 100%;
        .image {
          display: block;
          text-align: center;
          margin: 0 auto;
        }
        .footer-social-icons {
          justify-content: center;
        }
      }
      .ce_text {
        .location, .phone, .mail, .person {
          &:before {
            background-size: 20px;
            display: none;
          }
        }
      }
    }
    .footer-right {
      .ce_text {
        text-align: center;
      }
    }
    .footer-left, .footer-right {
      width: 100%;
      margin: 0 auto;
    }
  }
  .footer-left .ce_text {
    padding-left: 0;
    .location, .phone, .mail, .person {
      padding-left: 0;
    }
  }
  .footer-left .footer-middle p a {
    padding-left: 0;
  }
  .footer-left .ce_text {
    .mail, .phone {
      margin-left: 0;
    }
  }

  .footer-middle .adress {
    margin-top: -0;
  }
}