@import "variables";

body {
  font-family: 'Raleway', sans-serif;
}

.header, .about-us,
.services-block, .request,
.privacy, .services-image,
.footer, .navigation {
  width: 90%;
  max-width: $max-width;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

#container ::placeholder {
  color: #fff;
  opacity: 1;
}

.privacy {
  margin: 50px auto;
  p {
    font: normal normal normal 26px/30px Raleway;
    a {
      color: #3c25b2;
      transition: color 250ms;
      &:hover {
        color: $gelb;
      }
    }
  }
}

h2 {
  text-align: center;
  font: normal normal normal 34px/40px Raleway;
  color: $blue;
  text-transform: uppercase;
}

.submit, .text-right p {
  color: #3c25b2;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  transition: .2s transform ease-in-out, .2s color ease-in-out;
  will-change: transform;
  z-index: 0;
  font: normal normal bolder 25px/35px Raleway;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $yellow;
  border: 0;
  &:after {
    background-color: #FF67B3;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0);
    transform-origin: top left;
    transition: .2s transform ease-in-out, .2s color ease-in-out;
    will-change: transform;
    z-index: -1
  }
  &:hover::after {
    transform: translate(0, 0);
  }
  &:hover {
    color: white;
  }
}


