@import "variables";

#header .inside {
  height: 0;
  z-index: 2;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
}

.header-left {
  padding-top: 80px;
  .logo-header {
    a {
      background: black;
      padding: 35px 20px;
      height: 100px;
      display: flex;
      img {
        width: 500px;
      }
    }
  }
}

.header-right {
  .mod_mobile_menu {
    img {
      transition: filter 250ms;
     &:hover {
       filter: invert(1);
     }
    }
  }
}

@media screen  and (max-width: 640px){
 .header {
   justify-content: center;
   .header-left {
     padding-top: 40px;
     .logo-header a {
       padding: 9px 20px;
     }
   }
   .header-right {
     transform: translateY(185px);
     .mobile_menu_trigger {
       img{
         width: 200px;
       }
     }
   }
 }
}