@import "variables";

#header .inside {
  height: 0;
  z-index: 2;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.header-left {
  .logo-header {
    a {
      background: black;
      padding: 35px 20px;
      height: 100px;
      display: flex;
      img {
        width: 500px;
      }
    }
  }
}

.header-right {
  .mod_mobile_menu {
    cursor: pointer;
    img {
      transition: filter 250ms;
     &:hover {
       filter: invert(1);
     }
    }
  }
}

@media screen  and (max-width: 640px){
 .header {
   justify-content: center;
   width: 100%;
   flex-wrap: wrap;
   .header-left {
     width: 100%;
     padding-top: 20px;
     .logo-header a {
       padding: 20px 20px;
       img {
         margin: 0 auto;
       }
     }
   }
   .header-right {
     transform: translateY(0);
     .mod_mobile_menu.block {
       transform: translateY(80px);
       .mobile_menu_trigger {
         img{
           width: 200px;
         }
       }
     }
   }
 }
}