@import "variables";

.banner_image {
  position: relative;
  z-index: 1;
  .header-image {
    img {
      width: 100%;
      height: 85vh;
      object-fit: cover;
      object-position: 0;
    }
  }
}

#about-us.bg-yellow {
  height: 100vh;
  margin-top: -136px;
}



.bg-yellow, .bg-white,
.bg-blue {
  background: url("/files/assets/layout/bg_yellow.svg") center top 0/cover no-repeat;
  height: 950px;
  position: relative;
  z-index: 4;
  width: 100%;
  margin-top: -125px;
}


.about-us {
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  top: 50%;
  position: relative;
  .ce_image {
    width: 30%;
  }
  .ce_text {
    width: 60%;
    font: normal normal normal 26px/40px Raleway;
  }
}

.slider-image {
  position: relative;
  z-index: 3;
  margin-top: -160px;
}

.ce_sliderStart.block {
  .content-slider {
    img {
      width: 100%;
    }
  }
  .slider-control {
    position: absolute;
    width: 100%;
    top: 50%;
    .slider-prev {
      left: 5%;
    }
    .slider-next {
      right: 5%;
    }
    .slider-prev, .slider-next {
      transform: translateY(-50%);
      .arrow-icon-left {
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $rosa;
        transition: background-color 250ms;
        img {
          height: 70px;
          width: 50px;
          transition: filter 250ms;
        }
        &:hover {
          background-color: $blue;
        }
      }
    }
    .slider-menu {
      display: none;
    }
  }
}

.arrow-icon-left{
  &:hover img {
    &:hover {
      filter: brightness(0) saturate(100%) invert(82%) sepia(91%)
      saturate(535%) hue-rotate(358deg) brightness(108%) contrast(101%);
    }
  }
}

.bg-white {
  background: url("/files/assets/layout/bg_white.svg") center top 0/cover no-repeat;
  z-index: 5;
  margin-top: -75px;
  height: auto;
}

.services-image {
  position: relative;
  padding: 87px 0;
  .ce_image.left {
    position: absolute;
    top: 8vw;
    background: $rosa;
    padding: 25px 25px;
    opacity: 1;
  }
  .ce_image.right {
    top: 15vw;
    position: absolute;
    right: 0;
    padding: 25px 25px;
    z-index: 0;
    opacity: 1;
    &:after {
      background: #FFB029;
      content: '';
      display: block;
      height: 100%;
      width: 81%;
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(0%, 0);
      transform-origin: top left;
      transition: .2s transform ease-in-out, .2s color ease-in-out;
      will-change: transform;
      z-index: -1;
    }
  }
}

.services-block {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
  margin: 86px auto;
  position: relative;
  flex-wrap: wrap;
  transform: translateY(6vw);
  ul {
    li {
      font: normal normal normal 22px/39px Raleway;
      position: relative;
      left: 30px;
      &:before {
        content: "";
        position: absolute;
        left: -30px;
        top: 16px;
        width: 20px;
        height: 16px;
      }
    }
  }
}

.services {
  width: 45%;
  transform: translateY(-134px);
  position: relative;
  opacity: 1;
  .ce_text {
    p {
      font: normal normal normal 26px/30px Raleway;
      strong {
        font: normal normal bold 28px/32px Raleway;
        text-transform: uppercase;
      }
    }
    li {
      &:before {
        background: url("/files/assets/layout/check.svg") no-repeat 0/cover;
      }
    }
  }
}

.equipment {
  width: 50%;
  left: -170px;
  position: relative;
  transform: translateY(50px);
  opacity: 1;
  .ce_text {
    li {
      left: 25%;
      &:before {
        background: url("/files/assets/layout/check(1).svg") no-repeat 0/cover;
      }
    }
  }
}

.bg-blue {
  background: url("/files/assets/layout/Vereinigungsmenge.svg") center top 0/cover no-repeat;
  z-index: 6;
  margin-top: 0;
  height: auto;
  min-height: 102vh;
  transform: translateY(2vw);
  .ce_image {
    padding: 100px 0 0;
    margin: 60px auto 0;
    left: 59%;
    position: relative;
    img {
      background: white;
      padding: 25px 25px;
    }
  }
}

.request {
  padding: 100px 0;
}

.gallery {
  position: relative;
  z-index: 5;
  margin-top: -75px;
  margin-bottom: -7vw;
  img {
    width: 100%;
  }
}

.services, .equipment {
  .ce_image {
    display: none;
  }
}

@media screen  and (max-width: 640px) {
  .banner_image .header-image {
    img {
      height: 100vh;
      object-fit: cover;
      object-position: 30% 0%;
    }
  }
  .bg-yellow {
    margin-top: -110px;
    height: auto;
    top: 0;
  }
  .about-us {
    flex-wrap: wrap;
    text-align: right;
    padding: 80px 0;
    .ce_image, .ce_text {
      width: 100%;
    }
    .ce_text {
      font: normal normal normal 18px/28px Raleway;
    }
    .ce_image {
      img {
        width: 200px;
      }
    }
  }
  .slider-image {
    margin-top: -60px;
    margin-bottom: -22vw;
  }
  .ce_sliderStart.block {
    .content-slider img {
      height: 80vh;
      object-fit: cover;
    }
  }
  .bg-white {
    margin-top: 0;
    .services-image {
      display: none;
    }
  }

  .services-block {
    width: 100%;
  }

  .services, .equipment {
    width: 100%;
    .ce_image {
      display: block;
      padding: 20px 20px;
    }
    .ce_text {
      width: 90%;
      margin: 0 auto;
    }
  }
  .services {
    margin: 50px 0 0;
    .ce_image {
      background: $rosa;
      /*padding: 20px 45px 20px 15px;*/
    }
  }
  .equipment {
    transform: translateY(0);
    left: 0;
    .ce_image {
      background: $gelb;

    }
    .ce_text li {
      left: 30px;
    }
  }

  .gallery {
    margin-bottom: -24vw;
    img {
      height: 75vh;
      object-fit: cover;
    }
  }
}










