@import "variables";

.mobile_menu .inner {
  background: $blue;
  .header {
    padding-top: 80px;
  }
}

.menu-close {
  width: 85px;
  height: 85px;
  font-size: 65px;
  color: black;
  background-color:$rosa;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transform: rotate(-15deg);
  transition: color 250ms;
  &:hover {
    color: $yellow ;
  }
}

.navigation {
  margin: 0 auto;
  .mod_navigation {
    text-align: right;
    ul {
      li {
        margin: 20px 0;
        padding-top: 2px;
        overflow: hidden;
        a {
          text-decoration: none;
          color: #fff;
          letter-spacing: 1px;
          font: normal normal normal 26px/30px Raleway;
          position: relative;
          top: 0;
          transition: top 250ms;
          &:after {
            position: absolute;
            bottom: -2px;
            left: 0;
            content: '';
            width: 100%;
            height: 2px;
            background: white;
          }
          &:hover {
            top: -2px;
          }
        }
        strong.active {
          color: $gelb;
          font: normal normal bold 26px/30px Raleway;
        }
      }
    }
  }

  .footer-social-icons {
    display: flex;
    justify-content: end;
    float: right;
    position: relative;
    border-top: 3px solid white;
    padding-top: 31px;
    margin-top: 20px;
    .icon {
      margin-left: 50px;
      img {
        transition: filter 250ms;
        filter: invert(65%) sepia(99%) saturate(2854%) hue-rotate(297deg) brightness(1);
        &:hover {
          filter: invert(65%) sepia(99%) saturate(0) hue-rotate(297deg) brightness(2);
        }
      }
    }
  }
}


@media screen and (max-width: 640px) {
  .menu-close {
    margin-top: 20px;
  }
  .mobile_menu .inner {
    .header {
      padding-top: 0;
    }
  }
  .inner .header {
    width: 100%;
  }

}